.home_container {
    background-image: url("C:\Users\mukun\my-app\src\img\slide-11.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 95vh;
    width: 100%;
    /* display: flex; */
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  }